/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f9fb;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  color: #ff5c35;
  font-size: 24px;
  font-weight: bold;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #ff5c35;
}

/* Botón */
.btn {
  display: inline-block;
  background-color: #ff5c35;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #e04a22;
}

/* Footer */
footer {
  background-color: #023047;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

html {
  scroll-behavior: smooth;
}
