# Archivos de configuración de VSCode
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp

# Node (por si luego agregás algún build system)
node_modules/
dist/
build/

# Archivos de backup o edición
*.bak
*.swp
*.swo
