/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f9fb;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  color: #ff5c35;
  font-size: 24px;
  font-weight: bold;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #ff5c35;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #29C0DF, #29C0DF);
  color: white;
  padding: 60px 0;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 280px;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-img {
  flex: 1;
  text-align: center;
}

.hero-img img {
  max-width: 300px;
}

/* Botón */
.btn {
  display: inline-block;
  background-color: #ff5c35;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #e04a22;
}

/* Info / Características */
.info, .concepts, .tech {
  padding: 60px 0;
  background-color: white;
}

.info h3, .concepts h3, .tech h3 {
  font-size: 28px;
  color: #00b4d8;
  margin-bottom: 20px;
}

.info ul, .tech-list {
  list-style: disc;
  padding-left: 20px;
}

.tech-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tech-list li {
  background-color: #e0f7fa;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #023047;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

html {
  scroll-behavior: smooth;
}
