/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables CSS */
:root {
  --anaranjado: #ff5c35;
  --celeste-primario: #00b4d8;
  --fondo-blanco: #f9fafb;
  --gris-oscuro: #333;
  --azul-footer: #023047;
  --azul-gris: #1f2937;
  --azul-brillante: #1565c0;
}

/* General */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
  font-size: 17px;
  color: var(--gris-oscuro);
  background-color: var(--fondo-blanco);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para header oscuro */
.header-dark {
  background-color: var(--azul-gris);
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #fff;
}

.header-dark a {
  color: #fff;
}

.logo {
  color: var(--anaranjado);
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none; 
  display: flex; 
  gap: 20px;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: var(--gris-oscuro);
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--anaranjado);
}

/* Botón */
.btn {
  display: inline-block;
  background-color: var(--anaranjado);
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: var(--azul-footer);
}

/* Footer */
footer {
  background-color: var(--azul-footer);
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

html {
  scroll-behavior: smooth;
}

/* Responsive */
@media (max-width: 992px) {

  .btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .logo {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .btn {
    font-size: 15px;
    padding: 10px 20px;
  }

  .container {
    width: 95%;
  }
}